.refresh__title {
  font-size: 1.4rem;
  color: rgba(240, 248, 255, 0.813);
  align-self: center;
}

.refresh__timer {
  margin-top: 4px;
  align-self: center;
}

.updates {
  margin-top: 15px;
  max-height: 500px;

  overflow: auto;
}

.updates__sub_container {
  display: flex;
  align-self: center;
  justify-content: space-between;
  border-bottom: 1px solid #97cae8;

  font-size: 0.8rem;

  gap: 20px;
  padding: 10px 5px;
}

.update__time {
  font-size: 0.7rem;
  color: rgba(240, 248, 255, 0.77);
}

/* .update__msg {
} */

.updates__sub_container:last-child {
  border: none;
}

@media only screen and (max-width: 600px) {
  .updates {
    max-height: 300px;
  }
}
